## Importing necessary libraries

In [1]:
import nltk
import spacy
import pandas as pd
import numpy as np

## Importing selected modules

In [3]:
from nltk.corpus import stopwords
import string
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet

In [5]:
nlp=spacy.load('en_core_web_sm')
puncts=string.punctuation
lemmatizer=WordNetLemmatizer()

## Reading Data

In [8]:
data=pd.read_csv(r"C:\Users\Bhavya Prakash\Downloads\0000000000002747_training_twitter_x_y_train.csv")

In [9]:
data

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,NaN,Cottopanama85,NaN,0,@AmericanAir followback,NaN,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,NaN,PaulBEsteves,NaN,0,@united thanks for the help. Wish the phone re...,NaN,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,NaN,runfixsteve,NaN,0,@usairways the. Worst. Ever. #dca #customerser...,NaN,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,NaN,CLChicosky,NaN,0,@nrhodes85: look! Another apology. DO NOT FLY ...,NaN,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,NaN,JW_Blocker,NaN,1,@united you are by far the worst airline. 4 pl...,NaN,2015-02-20 16:24:49 -0800,NaN,NaN

## Taking text as feature and airline_sentiment as label

In [10]:
feature=data.text
label=data.airline_sentiment
print(feature)
print(label)

0        @SouthwestAir I am scheduled for the morning, ...
1        @SouthwestAir seeing your workers time in and ...
2        @united Flew ORD to Miami and back and  had gr...
3           @SouthwestAir @dultch97 that's horse radish üò§üê¥
4        @united so our flight into ORD was delayed bec...
                               ...
10975                              @AmericanAir followback
10976    @united thanks for the help. Wish the phone re...
10977    @usairways the. Worst. Ever. #dca #customerser...
10978    @nrhodes85: look! Another apology. DO NOT FLY ...
10979    @united you are by far the worst airline. 4 pl...
Name: text, Length: 10980, dtype: object
0        negative
1        positive
2        positive
3        negative
4        negative
           ...
10975     neutral
10976    positive
10977    negative
10978    negative
10979    negative
Name: airline_sentiment, Length: 10980, dtype: object

## Checking for null values

In [14]:
feature.isnull().sum()
label.isnull().sum()

0

In [16]:
stop_words=stopwords.words('english')

## Removing Stop Words, Punctuations from the texts and lemmatizing the words

In [26]:
final_feature_set=[]
for i in range(len(feature)):
    arr=[]
    for j in str.split(feature[i]):
        if j not in stop_words:
            if j not in puncts:
                arr.append(j)
    final_feature_set.append(arr)

In [30]:
final_feature_set[0]

['@SouthwestAir',
 'I',
 'scheduled',
 'morning,',
 '2',
 'days',
 'fact,',
 'yes..not',
 'sure',
 'evening',
 'flight',
 'one',
 'Cancelled',
 'Flightled']

In [32]:
x=[]
for f in range(len(final_feature_set)):
    x.append(' '.join(final_feature_set[f]))

'@united Flew ORD Miami back great crew, service legs. THANKS'

## Machine Learning

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,label)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
cv=CountVectorizer(max_features=5000)

In [44]:
x_train_features=cv.fit_transform(x_train)

In [45]:
x_test_features=cv.transform(x_test)

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
model=RandomForestClassifier()
model.fit(x_train_features,y_train)
y_pred=model.predict(x_test_features)

In [47]:
model.score(x_train_features,y_train)

0.9959927140255009

In [48]:
model.score(x_test_features,y_test)

0.7424408014571949

In [53]:
test_data=pd.read_csv(r"C:\Users\Bhavya Prakash\Downloads\0000000000002747_test_twitter_x_test.csv")

In [54]:
test_data

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...
3655,570304244001193984,US Airways,NaN,Anthony_Scerri,NaN,0,@USAirways Been stuck for 40+ minutes due to l...,NaN,2015-02-24 11:28:22 -0800,"Astoria, NY",Quito
3656,567847737061941249,US Airways,NaN,mttdprkr,NaN,0,@USAirways 4 hours... 4 hours... FOUR HOURS. ...,NaN,2015-02-17 16:47:05 -0800,"Vancouver, WA",Pacific Time (US & Canada)
3657,567823564167192576,Virgin America,NaN,miaerolinea,NaN,1,Nice RT @VirginAmerica: The man of steel might...,NaN,2015-02-17 15:11:02 -0800,Worldwide,Caracas
3658,570273819287531520,American,NaN,GoldensPleasure,NaN,0,@AmericanAir Aww Thanks AA..DFW was on GMA up ...,NaN,2015-02-24 09:27:28 -0800,East Coast CT.,Central Time (US & Canada)
3659,569341769114128386,United,NaN,suntoshi,NaN,0,@united the lounge tells us they have no pillo...,NaN,2015-02-21 19:43:50 -0800,"Bedford, Nh",Eastern Time (US & Canada)

In [55]:
test_x=test_data.text

In [57]:
test_x_features=cv.transform(test_x)

In [58]:
test_y_pred=model.predict(test_x_features)

In [59]:
dataframe=pd.DataFrame(test_y_pred)

In [60]:
dataframe.to_csv(r"C:\Users\Bhavya Prakash\OneDrive\Desktop\submission_1.csv",index=False)